/* Your app custom files in this file */
/* Tab bar icons */
.view-main .page-content{
  /*background: url("../img/001490.jpg") no-repeat;*/
  /*background-size:cover;*/
}
i.tabbar-demo-icon-1 {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23929292'><g><circle cx='15.2' cy='8.8' r='1.5'/><polygon points='16.7,12.3 16.7,11.7 16.7,11.3 13.7,11.3 13.7,12.3 14.7,12.3 14.7,20.3 13.7,20.3 13.7,21.3 17.7,21.3 17.7,20.3 16.7,20.3'/><path d='M15.2,2.3C8.3,2.3,2.7,7.9,2.7,14.8s5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5S22.1,2.3,15.2,2.3z M15.2,26.3 c-6.3,0-11.5-5.2-11.5-11.5S8.8,3.3,15.2,3.3s11.5,5.2,11.5,11.5S21.5,26.3,15.2,26.3z'/></g></svg>");
}
.active i.tabbar-demo-icon-1 {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 30' fill='%23007aff'><path d='M15,2.6C8.1,2.6,2.5,8.2,2.5,15.1C2.5,22,8.1,27.6,15,27.6S27.5,22,27.5,15.1C27.5,8.2,21.9,2.6,15,2.6z M15,7.6 c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C13.5,8.3,14.2,7.6,15,7.6z M17.5,21.6h-4v-1h1v-8h-1v-1h3V12 v0.6v8h1V21.6z'/></svg>");
}
i.tabbar-demo-icon-2 {
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23929292'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.4L5.9,1z M24,16H1V7h7.1 c0.5,1.9,2.3,3.4,4.4,3.4s3.9-1.5,4.4-3.4H24V16z'/></svg>");
}
.active i.tabbar-demo-icon-2 {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23007aff'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.3L5.9,1z'/></svg>");
}
i.tabbar-demo-icon-3 {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23929292'><path d='M16.8,1c3.7,0,6.8,3,6.8,6.8l0,0.1c0,0,0,0.1,0,0.1l0,1l1,0C27,9,29,11,29,13.5c0,2.5-2,4.5-4.5,4.5H6c-2.8,0-5-2.2-5-5 c0-2.1,1.4-4,3.4-4.7L5,8.1l0.1-0.6C5.3,6,6.5,5,8,5c0.4,0,0.9,0.1,1.3,0.3l0.9,0.5l0.4-0.9C11.8,2.5,14.2,1,16.8,1 M16.8,0 c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4.1,7.3C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5 c0-3-2.5-5.5-5.5-5.5c0-0.1,0-0.2,0-0.2C24.5,3.5,21.1,0,16.8,0L16.8,0z'/></svg>");
}
.active i.tabbar-demo-icon-3 {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23007aff'><path d='M24.5,8c0-0.1,0-0.2,0-0.2C24.5,3.5,21,0,16.8,0c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4,7.3 C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5C30,10.5,27.5,8,24.5,8z'/></svg>");
}
i.tabbar-demo-icon-4 {
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23929292'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15,0h-5C9.5,0,8.9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M24,17c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1V5c0-0.6,0.4-1,1-1h4.2h0.4 l0.3-0.3l1.2-1.2l0,0.1l1.1-1.2C9.5,1.1,9.8,1,10,1h5c0.3,0,0.5,0.1,0.7,0.3l2.4,2.4L18.4,4h0.4H23c0.6,0,1,0.4,1,1V17z'/><path d='M12.5,4C8.9,4,6,6.9,6,10.5c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5C19,6.9,16.1,4,12.5,4z M12.5,16 c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5S18,7.5,18,10.5C18,13.5,15.5,16,12.5,16z'/><path d='M12.5,6C10,6,8,8,8,10.5C8,13,10,15,12.5,15s4.5-2,4.5-4.5C17,8,15,6,12.5,6z M12.5,14C10.6,14,9,12.4,9,10.5 C9,8.6,10.6,7,12.5,7S16,8.6,16,10.5C16,12.4,14.4,14,12.5,14z'/></g></svg>");
}
.active i.tabbar-demo-icon-4 {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23007aff'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15.1,0h-5C9.5,0,9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M12.5,16c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5c3,0,5.5,2.5,5.5,5.5 C18,13.5,15.5,16,12.5,16z'/><circle cx='12.5' cy='10.5' r='4.5'/></g></svg>");
}

.content-block-inner {
  background: none;
}

.list-block ul {
  background: none;
}

.dealpartner{
  color:green;
  font-size: 0.7em;
}

.dealsum{
  color:red;
  font-size: 0.7em;
}

[data-page="settings"] .item-title{
  font-size: 0.8em;
}


[data-page="settings"] .item-title.label{
  width:80%;
}

#cridentials .item-title.label{
  width:40%;
}

[data-page="tasks"] .item-title{
  font-size: 0.8em;
  word-break: break-all;
}
[data-page="tasks"] .item-after{
  font-size: 0.8em;
  word-break: break-all;
}

[data-page="task"] .item-media i.icon{
margin-right: 5px;
}

[data-page="task"] .list-block-label{
  margin-bottom: 5px;
}

.panel {
  background: #585858;
}
.panel .filter a.item-link{
  color:#fff;
}

.panel .filter .label-radio.item-content .item-inner{
  color: #f6f6f6;
}

.list-block ul:before{
  background-color: #fbfaff;
}

.list-block ul:after{
  background-color: #8e8e93;
}

.list-block.accordion-list.filter{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom:5px;
  width: 100%;
}

.panel.panel-left{
  overflow:hidden;
}

.list-block.filter .accordion-item > a .item-inner{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2260%22%20height%3D%22120%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cg%3E%0A%20%20%3Ctitle%3ELayer%201%3C%2Ftitle%3E%0A%20%20%3Cpath%20id%3D%22svg_1%22%20fill%3D%22%23000000%22%20d%3D%22m60%2C61.5l-38.25%2C38.25l-9.75%2C-9.75l29.25%2C-28.5l-29.25%2C-28.5l9.75%2C-9.75l38.25%2C38.25z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.accordion-list.filter .accordion-item-expanded > a.item-link .item-inner{
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2277px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2077%2048%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M62.5%2C24%20L24.25%2C62.25%20L14.5%2C52.5%20L43.75%2C24%20L14.5%2C-4.5%20L24.25%2C-14.25%20L62.5%2C24%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23000000%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate(38.500000%2C%2024.000000)%20rotate(90.000000)%20translate(-38.500000%2C%20-24.000000)%20%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") !important;
  background-size: 15px 15px !important;
}

.list-block.filter .accordion-item > a .item-inner:after{
  content:'>>';
}

div.item-title:after {
  content: "";
}

/*.list-block.filter .accordion-item.accordion-item-expanded > a.item-link .item-inner{*/
  /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2260%22%20height%3D%22120%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cg%3E%0A%20%20%3Ctitle%3ELayer%201%3C%2Ftitle%3E%0A%20%20%3Cpath%20id%3D%22svg_1%22%20fill%3D%22%23000000%22%20d%3D%22m60%2C61.5l-38.25%2C38.25l-9.75%2C-9.75l29.25%2C-28.5l-29.25%2C-28.5l9.75%2C-9.75l38.25%2C38.25z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");}*/


.page[data-page="index"] .page-content{
  /*background:url(../img/круг@05.png) no-repeat;*/
  /*background-color: rgba(255,255,255,0.3);*/
  background:url("data:image/svg+xml;charset utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%22228px%22%20height%3D%22228px%22%20viewBox%3D%220%200%20228%20228%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22%D0%BA%D1%80%D1%83%D0%B3%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M113.732%2C0.882%20C176.354%2C0.882%20227.118%2C51.646%20227.118%2C114.268%20C227.118%2C176.889%20176.354%2C227.654%20113.732%2C227.654%20C51.111%2C227.654%200.346%2C176.889%200.346%2C114.268%20C0.346%2C51.646%2051.111%2C0.882%20113.732%2C0.882%22%20id%3D%22Fill-1%22%20fill%3D%22%23EF7C4E%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M43.182%2C51.266%20L44.953%2C51.266%20L44.953%2C57.778%20L51.875%2C51.266%20L54.222%2C51.266%20L45.882%2C59.05%20L54.869%2C68.613%20L52.568%2C68.613%20L44.953%2C60.524%20L44.953%2C68.613%20L43.182%2C68.613%20L43.182%2C51.266%20L43.182%2C51.266%20Z%20M59.721%2C51.266%20L69.662%2C51.266%20L69.662%2C52.977%20L61.455%2C52.977%20L61.455%2C58.403%20L69.593%2C58.403%20L69.593%2C60.1%20L61.455%2C60.1%20L61.455%2C66.903%20L69.593%2C66.903%20L69.593%2C68.613%20L59.721%2C68.613%20L59.721%2C51.266%20L59.721%2C51.266%20Z%20M76.227%2C51.266%20L79.684%2C51.266%20C81.664%2C51.266%2083.002%2C51.355%2083.694%2C51.527%20C84.683%2C51.769%2085.492%2C52.272%2086.123%2C53.028%20C86.752%2C53.789%2087.066%2C54.744%2087.066%2C55.89%20C87.066%2C57.046%2086.76%2C57.999%2086.144%2C58.748%20C85.533%2C59.501%2084.687%2C60.005%2083.609%2C60.265%20C82.824%2C60.455%2081.355%2C60.548%2079.202%2C60.548%20L77.961%2C60.548%20L77.961%2C68.613%20L76.227%2C68.613%20L76.227%2C51.266%20L76.227%2C51.266%20Z%20M77.961%2C52.953%20L77.961%2C58.849%20L80.9%2C58.886%20C82.087%2C58.886%2082.952%2C58.776%2083.504%2C58.559%20C84.055%2C58.346%2084.486%2C57.996%2084.8%2C57.512%20C85.117%2C57.029%2085.276%2C56.486%2085.276%2C55.89%20C85.276%2C55.307%2085.117%2C54.776%2084.8%2C54.292%20C84.486%2C53.81%2084.072%2C53.464%2083.555%2C53.262%20C83.04%2C53.057%2082.2%2C52.953%2081.029%2C52.953%20L77.961%2C52.953%20L77.961%2C52.953%20Z%20M96.304%2C51.266%20L96.304%2C51.266%20L104.394%2C68.613%20L102.531%2C68.613%20L99.806%2C62.906%20L92.332%2C62.906%20L89.619%2C68.613%20L87.687%2C68.613%20L95.882%2C51.266%20L96.304%2C51.266%20L96.304%2C51.266%20Z%20M96.091%2C54.944%20L96.091%2C54.944%20L93.109%2C61.231%20L99.041%2C61.231%20L96.091%2C54.944%20L96.091%2C54.944%20Z%20M107.998%2C68.613%20L107.998%2C68.613%20L110.461%2C51.266%20L110.747%2C51.266%20L117.799%2C65.503%20L124.777%2C51.266%20L125.059%2C51.266%20L127.551%2C68.613%20L125.84%2C68.613%20L124.142%2C56.209%20L118.008%2C68.613%20L117.573%2C68.613%20L111.358%2C56.117%20L109.673%2C68.613%20L107.998%2C68.613%20L107.998%2C68.613%20Z%20M147.713%2C68.613%20L145.909%2C68.613%20L145.909%2C55.322%20L134.482%2C68.613%20L134.093%2C68.613%20L134.093%2C51.266%20L135.827%2C51.266%20L135.827%2C64.794%20L147.321%2C51.266%20L147.713%2C51.266%20L147.713%2C68.613%20L147.713%2C68.613%20Z%20M155.284%2C51.266%20L157.055%2C51.266%20L157.055%2C57.778%20L163.978%2C51.266%20L166.324%2C51.266%20L157.985%2C59.05%20L166.972%2C68.613%20L164.67%2C68.613%20L157.055%2C60.524%20L157.055%2C68.613%20L155.284%2C68.613%20L155.284%2C51.266%20L155.284%2C51.266%20Z%20M178.995%2C51.266%20L178.995%2C51.266%20L187.085%2C68.613%20L185.222%2C68.613%20L182.496%2C62.906%20L175.022%2C62.906%20L172.31%2C68.613%20L170.378%2C68.613%20L178.573%2C51.266%20L178.995%2C51.266%20L178.995%2C51.266%20Z%20M178.782%2C54.944%20L178.782%2C54.944%20L175.799%2C61.231%20L181.732%2C61.231%20L178.782%2C54.944%20L178.782%2C54.944%20Z%22%20id%3D%22Fill-2%22%20fill%3D%22%23FFFEFD%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M58.192%2C83.895%20L75.525%2C121.061%20L71.532%2C121.061%20L65.695%2C108.833%20L49.681%2C108.833%20L43.869%2C121.061%20L39.729%2C121.061%20L57.287%2C83.895%20L58.192%2C83.895%20L58.192%2C83.895%20Z%20M57.735%2C91.776%20L57.735%2C91.776%20L51.345%2C105.246%20L64.056%2C105.246%20L57.735%2C91.776%20L57.735%2C91.776%20Z%20M82.164%2C83.895%20L89.563%2C83.895%20C93.694%2C83.895%2096.487%2C84.067%2097.953%2C84.403%20C100.161%2C84.912%20101.955%2C85.99%20103.335%2C87.645%20C104.714%2C89.31%20105.404%2C91.354%20105.404%2C93.777%20C105.404%2C95.795%20104.93%2C97.571%20103.981%2C99.106%20C103.024%2C100.64%20101.67%2C101.796%2099.894%2C102.581%20C98.126%2C103.366%2095.686%2C103.762%2092.573%2C103.78%20L105.939%2C121.061%20L101.334%2C121.061%20L88.002%2C103.78%20L85.881%2C103.78%20L85.881%2C121.061%20L82.164%2C121.061%20L82.164%2C83.895%20L82.164%2C83.895%20Z%20M85.881%2C87.533%20L85.881%2C100.167%20L92.271%2C100.219%20C94.746%2C100.219%2096.574%2C99.985%2097.764%2C99.511%20C98.954%2C99.037%2099.877%2C98.287%20100.54%2C97.252%20C101.204%2C96.217%20101.541%2C95.053%20101.541%2C93.777%20C101.541%2C92.526%20101.204%2C91.396%20100.532%2C90.379%20C99.859%2C89.361%2098.971%2C88.629%2097.876%2C88.188%20C96.781%2C87.758%2094.961%2C87.533%2092.417%2C87.533%20L85.881%2C87.533%20L85.881%2C87.533%20Z%20M149.1%2C90.793%20L149.1%2C90.793%20L146.168%2C93.044%20C144.555%2C90.94%20142.615%2C89.344%20140.347%2C88.258%20C138.08%2C87.171%20135.595%2C86.628%20132.88%2C86.628%20C129.912%2C86.628%20127.171%2C87.335%20124.645%2C88.758%20C122.118%2C90.181%20120.16%2C92.095%20118.771%2C94.492%20C117.383%2C96.898%20116.685%2C99.597%20116.685%2C102.59%20C116.685%2C107.126%20118.237%2C110.903%20121.349%2C113.939%20C124.454%2C116.965%20128.378%2C118.483%20133.112%2C118.483%20C138.312%2C118.483%20142.666%2C116.448%20146.168%2C112.369%20L149.1%2C114.593%20C147.245%2C116.948%20144.934%2C118.776%20142.166%2C120.061%20C139.399%2C121.354%20136.303%2C121.992%20132.88%2C121.992%20C126.377%2C121.992%20121.255%2C119.828%20117.495%2C115.499%20C114.347%2C111.851%20112.77%2C107.436%20112.77%2C102.262%20C112.77%2C96.821%20114.675%2C92.25%20118.496%2C88.534%20C122.307%2C84.817%20127.085%2C82.963%20132.828%2C82.963%20C136.303%2C82.963%20139.433%2C83.653%20142.227%2C85.024%20C145.021%2C86.395%20147.314%2C88.318%20149.1%2C90.793%20L149.1%2C90.793%20Z%20M160.83%2C83.895%20L164.564%2C83.895%20L164.564%2C99.485%20L183.466%2C99.485%20L183.466%2C83.895%20L187.2%2C83.895%20L187.2%2C121.061%20L183.466%2C121.061%20L183.466%2C103.124%20L164.564%2C103.124%20L164.564%2C121.061%20L160.83%2C121.061%20L160.83%2C83.895%20L160.83%2C83.895%20Z%22%20id%3D%22Fill-3%22%20fill%3D%22%23FFFEFD%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M40.118%2C166.458%20L43.262%2C164.57%20C45.479%2C168.658%2048.039%2C170.702%2050.943%2C170.702%20C52.181%2C170.702%2053.349%2C170.417%2054.44%2C169.83%20C55.531%2C169.252%2056.365%2C168.476%2056.932%2C167.493%20C57.507%2C166.519%2057.791%2C165.485%2057.791%2C164.389%20C57.791%2C163.138%2057.37%2C161.923%2056.528%2C160.724%20C55.368%2C159.077%2053.255%2C157.085%2050.187%2C154.765%20C47.103%2C152.42%2045.178%2C150.73%2044.422%2C149.686%20C43.117%2C147.935%2042.464%2C146.038%2042.464%2C144.004%20C42.464%2C142.382%2042.841%2C140.908%2043.615%2C139.58%20C44.388%2C138.252%2045.479%2C137.199%2046.879%2C136.432%20C48.28%2C135.665%2049.801%2C135.286%2051.442%2C135.286%20C53.194%2C135.286%2054.827%2C135.717%2056.339%2C136.587%20C57.86%2C137.45%2059.466%2C139.054%2061.159%2C141.373%20L58.143%2C143.676%20C56.752%2C141.822%2055.557%2C140.597%2054.577%2C140.011%20C53.598%2C139.425%2052.524%2C139.122%2051.373%2C139.122%20C49.878%2C139.122%2048.658%2C139.58%2047.704%2C140.494%20C46.759%2C141.399%2046.287%2C142.52%2046.287%2C143.848%20C46.287%2C144.659%2046.45%2C145.444%2046.785%2C146.203%20C47.129%2C146.962%2047.739%2C147.78%2048.624%2C148.677%20C49.113%2C149.143%2050.711%2C150.385%2053.409%2C152.385%20C56.614%2C154.765%2058.813%2C156.878%2060.008%2C158.732%20C61.193%2C160.586%2061.794%2C162.44%2061.794%2C164.311%20C61.794%2C167.01%2060.772%2C169.347%2058.736%2C171.34%20C56.691%2C173.323%2054.217%2C174.315%2051.296%2C174.315%20C49.045%2C174.315%2047.008%2C173.719%2045.178%2C172.512%20C43.349%2C171.305%2041.665%2C169.287%2040.118%2C166.458%20L40.118%2C166.458%20Z%20M82.522%2C136.217%20L86.195%2C136.217%20L86.195%2C150.169%20L100.973%2C136.217%20L105.982%2C136.217%20L88.18%2C152.895%20L107.365%2C173.384%20L102.451%2C173.384%20L86.195%2C156.05%20L86.195%2C173.384%20L82.522%2C173.384%20L82.522%2C136.217%20L82.522%2C136.217%20Z%20M129.843%2C136.217%20L133.545%2C136.217%20L133.545%2C173.384%20L129.843%2C173.384%20L129.843%2C136.217%20Z%20M158.126%2C173.384%20L158.126%2C136.217%20L158.934%2C136.217%20L183.549%2C164.665%20L183.549%2C136.217%20L187.2%2C136.217%20L187.2%2C173.384%20L186.367%2C173.384%20L161.958%2C145.288%20L161.958%2C173.384%20L158.126%2C173.384%20L158.126%2C173.384%20Z%22%20id%3D%22Fill-4%22%20fill%3D%22%23FFFEFD%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") no-repeat;
  background-position: 50% 50%;
  background-size: 200px;
}
p.toolbar-text{
  font-size: 9px;
  margin: 0px;
  text-align: center
}

.page[data-page="deal"] .item-title.label{
  font-size: 10px;
}
.page[data-page="deal"] .item-input input[type="text"]{
  font-size:  0.9em;
}

.deal-contragent{
  font-size:0.8em;
  text-transform: none;
  color:darkblue;
}
.deal-summa{
  font-size:0.8em;
  text-transform: none;
  color:red;
}

.page[data-page="deal"] .item-inner{
  display: inline-block;
}

.page[data-page="deal"] .list-block .item-title.label + .item-input{
  margin-left:0px;
}

.page .page-content{
  background-color: rgba(255, 255, 255, 0.95);
}
.page{
  background-color: rgba(255, 255, 255, 0.95);
}