<div class="navbar">
    <!-- Navbar inner for Task page-->
    <div data-page="contact.html" class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Назад</span>
            </a>
        </div>
        <div class="center sliding">Контакт</div>
        <div class="right">
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="contact" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Имя</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Имя" value="<%- firstName%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Фамилия</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Фамилия" value="<%- lastName%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Менеджер</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Менеджер" value="<%- manager%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Дом. тел.</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Дом. тел." value="<%- phoneHome%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Моб. тел.</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Моб. тел." value="<%- phoneMobile%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Раб. тел.</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Раб. тел." value="<%- phoneWork%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Адрес:</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Адрес" value="<%- address%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Источник контакта:</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Источник контакта" value="<%- leadSource%>">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
