<div class="navbar">
    <!-- Navbar inner for Task page-->
    <div data-page="task.html" class="navbar-inner">
        <div class="left sliding">
            <a href="tasks.html" class="back link">
                <i class="icon icon-back"></i>
                <span>Назад</span>
            </a>
        </div>
        <div class="center sliding">Задачи</div>
        <div class="right">
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="task" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block">
                <div class="list-block">
                <ul>
                    <li>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Наименование</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Тема" value="<%- name%>">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Важность</div>
                                <div class="item-input">
                                    <input type="number" min="1" max="10" value="<%- importance%>">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Срочность</div>
                                <div class="item-input">
                                    <input type="number" min="1" max="10" value="<%- urgency%>">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Дата начала</div>
                                <div class="item-input">
                                    <input type="datetime" value="<%- date_begin%>">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Контакт">
                            <select name="contacts">
                                <option value="c1" selected>Петров</option>
                                <option value="c2">Иванов</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Контакт</div>
                                    <div class="item-after"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Описание</div>
                                <div class="item-input">
                                    <textarea>
                                        <%- description%>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
